@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap");

body {
  background: #eee;
  font-family: "Source Sans Pro";
  font-weight: 200;
  align-self: center;
}

a {
  text-decoration: none;
}

header h1 {
  font-family: "Abril Fatface";
  text-align: center;
}

main h2 {
  font-family: "Roboto Slab";
}

main h5 {
  font-family: "Abril Fatface";
  color: #dd3232;
}

nav {
  color: #777;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  background-color: white;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav li {
  display: inline-block;
  padding: 5px;
}

main img {
  width: 100%;
}

.newspaper-container {
  background-color: white;
  box-shadow: 1px 1px 5px #ddd;
  width: 700px;
  border-radius: 20px;
  padding: 1em;
}

.more-articles h4 {
  font-family: "Roboto Slab";
}

.more-articles section {
  display: inline-block;
  width: 40%;
}
